<!--
<form novalidate>
    <div ng-repeat="row in buildTicket">
        <label>{{row.label}}</label>
        <input type="{{row.type}}" ng-model="row.text"/>
    </div>
    <div>
        <input type="submit" ng-click="save()" value="Submit">
        <input type="button" value="Reset" ng-click="reset()">
        <input type="button" value="Check All" ng-click="checkAll()">
        <a ng-href=""></a>
    </div>
</form>
<div ng-repeat="ticket in allTickets" >
    <ticket-view ticket-info = "ticket"></ticket-view>
</div>
-->
<div layout="column" layout-align="center center">
    <md-card>
        <md-card-content>
            <md-card-title-text>
                <span class="md-headline">{{selectedTemplate.name ? selectedTemplate.name : 'Template Name'}}</span>
            </md-card-title-text>
            <md-input-container>
                <md-select name="templateChoices" ng-model="selectedTemplate">
                    <md-option ng-value="option.doc" ng-repeat="option in templates" ng-selected="option.doc.name == 'Generic'">{{option.doc.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-list>
                <md-list-item layout="row" ng-repeat="row in selectedTemplate.items" class="md-block">
                    <span layout="row"layout-fill layout-align="end center">
                        <md-checkbox ng-if="row.type === 'checkbox'" ng-model="row.value">{{row.label}}:</md-checkbox>
                        <label ng-if="row.type === 'text'">{{row.label}}: </label>
                        <md-input-container ng-if="row.type === 'text'" >
                            <input type="{{row.type}}" ng-model="row.value">
                        </md-input-container>
                    </span>
                </md-list-item>
            </md-list>
            <md-card-actions layout-align="end center" ng-if="selectedTemplate.items">
                <md-button class="md-raised" ng-click="save()">Save</md-button >
                <md-button class="md-raised" ng-click="reset()">Reset</md-button>
                <md-button class="md-raised" ng-click="checkAll()">Check All</md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
</div>
<md-content layout="row" layout-wrap>
    <md-card ng-repeat="ticket in allTickets track by $index">
        <ticket-view ticket-info = "ticket.items" ticket-index = "$index"></ticket-view>
    </md-card>
</md-content>