
<!--TEMPLATE SELECTOR -->
<div layout="row" layout-align="center center" layout-wrap>
    <md-card>
        <md-card-content md-theme="docs-dark" layout-xs="row" layout-padding>
            <md-input-container>
                <md-select name="templateChoices" ng-model="selectedTemplate" aria-label="template Choices">
                    <md-select-header>
                        <span>stuff</span>
                    </md-select-header>
                    <md-option ng-value= "option" ng-repeat="option in templates">{{option.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="newTemplate()">New Template</md-button>
        </md-card-content>
    </md-card>
</div>

<div layout="column" layout-align="center center">
        <!-- Template input maker -->
    <md-card>
        <md-card-content>
            <div layout="row">
                <md-input-container>
                    <label>Template Name</label>
                    <input type="text" ng-model="selectedTemplate.name">
                </md-input-container>
                <md-input-container>
                    <label>Item Label text:</label>
                    <textarea type="text" required ng-model="item.label"/>
                </md-input-container>
                <md-input-container>
                    <md-select name="inputTypes" ng-model="item.type">
                        <md-option ng-repeat="type in inputTypes" ng-value="type">{{type}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <!-- Swap between angular material checkbox and angular input container-->    
            <span>
                <label>{{item.label}}:</label>
                <md-input-container ng-if="item.type === 'text'">
                    <input type="{{item.type}}">
                </md-input-container>
                <md-checkbox ng-if="item.type === 'checkbox'"></md-checkbox>
            </span>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-click="addItem()">Add Item</md-button>
        </md-card-actions>
    </md-card>
        <!--Template Preview -->
    <md-card>
        <md-card-content>
            <md-card-title-text>
                <span class="md-headline">{{selectedTemplate.name ? selectedTemplate.name : 'Template Name'}}</span>
            </md-card-title-text>
            <md-list>
                <md-list-item layout="row" ng-repeat="row in selectedTemplate.items" dir="rt1">
                    <span layout="row"layout-fill layout-align="end center" dir="rt1">
                        <md-checkbox ng-if="row.type === 'checkbox'" >{{row.label}}</md-checkbox>
                        <label ng-if="row.type === 'text'">{{row.label}}: </label>
                        <md-input-container ng-if="row.type === 'text'">
                            <input type="{{row.type}}">
                        </md-input-container>
                    </span>

                    <span class="md-secondary">
                        <md-button class="md-raised" ng-click="deleteItem($index)">Delete</md-button class="md-raised">
                        <md-button class="md-raised" ng-click="editItem($index)">Edit</md-button class="md-raised">
                        <md-button class="md-raised" ng-click="moveUp($index)">↑</md-button class="md-raised">
                        <md-button class="md-raised" ng-click="moveDown($index)">↓</md-button class="md-raised">
                    </span>
                </md-list-item>
            </md-list>
            <md-card-actions layout-align="end center" ng-if="selectedTemplate.items.length != 0">
                <md-button class="md-raised" ng-click="saveTemplate()">Save Template</md-button class="md-raised">
            </md-card-actions>
        </md-card-content>
    </md-card>

</div> 
